{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owolabi Akintan</title>
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon" style="height: 100px;">
    <script src="https://kit.fontawesome.com/18de66c05e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'PortFolio/main.css' %}">
    <script src="{% static 'PortFolio/main.js' %}"></script>
</head>
<body>
<div class="four_wrapper">
   <img src="{% static 'images/something-lost.png' %}">
   <h1>Oops, looks like the page is lost</h1>
</div>
</body>
</html>